form{
	width: 600px;
	font-size: 18pt;
}
body{
	width: 800px;
	margin: 0 auto;
	background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	padding-top: 50px;
}
button, select, input, label, h1{
	margin: 10px;
	font-family: sans-serif;
}

button, select, input{
	background-color: cyan;
}