#test {
    border: 3px solid rgb(134, 4, 194);
    width: 600px;
    padding: 30px;
    margin: 30px auto;
    font-size: 25px;
    background-color: rgb(142, 219, 247);
}

input, button{
    font-size: 20px;
    background-color: rgb(194, 233, 19);
    margin-bottom: 25px;
}

input{
    margin-left: 10px   ;
}